Модель Толика

В отделе есть $n$ сотрудников и $n_0$ ставок.

В отдел приходит $p \cdot n_0$ денег, где $p$ - это зп по указу Путина

Предположим что мы в москве $p~=~240000$, $n_0~=~100$, a $n~=~150$

In [68]:
import numpy as np
p = 240000
n0 = 100
n = 150

Каждый сотрудник гарантированно получает свой оклад + надбавки, обозначим это как $\check{s}_i$

например я имею $28000$ оклад и ещё $3000$ за учёную степень и того для меня $\check{s}_i~=~31000$

In [37]:
s_check = 31000

Так как я научный сотрудник мы можем считать это некоторым средним значением по окладу. Положим так (потом уберём)

Таким образом можем определить $\check{S}$, как сумму по всем сотрудникам $\check{s}_i$, или некоторое среднее $<\check{s}> \cdot n$

In [41]:
S_check = s_check*n
print(S_check)

4650000

Теперь вступает в ход КТУ (Коэффициент Трудового Участия), определяется он субъективно и обладает большой инертностью.
Варируется КТУ от 0.5 до 1.3. 


Но я возьму от 0.1 до 2.0, так как мне кажется, что какая-то черепашка пиздит...

In [136]:
KTU = np.array(range(1,21,1))/10
print(KTU)

[0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.  1.1 1.2 1.3 1.4 1.5 1.6 1.7 1.8
 1.9 2. ]

Определим сколько денег остаётся на выплату надбавок по гос.заданию. как ${ p \cdot n_0~-~\check{S} ~  = ~ p \cdot n_0~-~<\check{s}> \cdot n }$

И получим некотурую среднюю надбавку, которая как чистом коммунизме была бы у всех (я до сих пор не понимаю, зачем при коммунизме деньги, если всё будет в кайф...)

$\LARGE{ \hat{s} =  \frac{ p \cdot n_0~-~<\check{s}> \cdot n } {n} }$

In [99]:
s_hat = ( p * n0 - S_check ) / n
print(s_hat)

129000.0

Давайте посмотрим же, какой должна быть моя зарплата при разных КТУ как $\check(s)_i + KTU \cdot \hat(s)$

In [168]:
salary = s_check+(KTU*s_hat)

print('KTU is',  '___',' ==== salary is ' , '   -13%  ' , '//' , '    total   ' , ' // ' , 'salary supplement' )

for i in range(1,21,1) :
    print( 'KTU is',  KTU[i-1],' ==== salary is ', salary[i-1]*0.87 , '   //   ', salary[i-1] , '   //   ',  (KTU[i-1]*s_hat))

KTU is ___  ==== salary is     -13%   //     total     //  salary supplement
KTU is 0.1  ==== salary is  38193.0    //    43900.0    //    12900.0
KTU is 0.2  ==== salary is  49416.0    //    56800.0    //    25800.0
KTU is 0.3  ==== salary is  60639.0    //    69700.0    //    38700.0
KTU is 0.4  ==== salary is  71862.0    //    82600.0    //    51600.0
KTU is 0.5  ==== salary is  83085.0    //    95500.0    //    64500.0
KTU is 0.6  ==== salary is  94308.0    //    108400.0    //    77400.0
KTU is 0.7  ==== salary is  105531.0    //    121300.0    //    90300.0
KTU is 0.8  ==== salary is  116754.0    //    134200.0    //    103200.0
KTU is 0.9  ==== salary is  127977.0    //    147100.0    //    116100.0
KTU is 1.0  ==== salary is  139200.0    //    160000.0    //    129000.0
KTU is 1.1  ==== salary is  150423.0    //    172900.0    //    141900.0
KTU is 1.2  ==== salary is  161646.0    //    185800.0    //    154800.0
KTU is 1.3  ==== salary is  172869.0    //    198700.0    //    167700.0
KTU is 1.4  ==== salary is  184092.0    //    211600.0    //    180600.0
KTU is 1.5  ==== salary is  195315.0    //    224500.0    //    193500.0
KTU is 1.6  ==== salary is  206538.0    //    237400.0    //    206400.0
KTU is 1.7  ==== salary is  217761.0    //    250300.0    //    219300.0
KTU is 1.8  ==== salary is  228984.0    //    263200.0    //    232200.0
KTU is 1.9  ==== salary is  240207.0    //    276100.0    //    245100.0
KTU is 2.0  ==== salary is  251430.0    //    289000.0    //    258000.0

Хорошо, может надо учесть, что работадатель платит с зарплатного фонда ещё 31% от total, тогда нам нужно учесть что total это не правильная величина

Её нужно считать так $total ~ = ~ salary \cdot (1-0.31) ~ = ~ 0.69 \cdot salary $

In [175]:
print('KTU is',  '___',' ==== salary is ' , '   -13%  ' , '//' , '    total   '  )
for i in range(1,21,1) :
    print( 'KTU is',  KTU[i-1],' ==== salary is ', int((0.69*salary[i-1])*0.87) , '   //   ', int(0.69*salary[i-1]) )

KTU is ___  ==== salary is     -13%   //     total
KTU is 0.1  ==== salary is  26353    //    30290
KTU is 0.2  ==== salary is  34097    //    39192
KTU is 0.3  ==== salary is  41840    //    48092
KTU is 0.4  ==== salary is  49584    //    56993
KTU is 0.5  ==== salary is  57328    //    65895
KTU is 0.6  ==== salary is  65072    //    74796
KTU is 0.7  ==== salary is  72816    //    83697
KTU is 0.8  ==== salary is  80560    //    92598
KTU is 0.9  ==== salary is  88304    //    101498
KTU is 1.0  ==== salary is  96047    //    110399
KTU is 1.1  ==== salary is  103791    //    119300
KTU is 1.2  ==== salary is  111535    //    128201
KTU is 1.3  ==== salary is  119279    //    137103
KTU is 1.4  ==== salary is  127023    //    146004
KTU is 1.5  ==== salary is  134767    //    154905
KTU is 1.6  ==== salary is  142511    //    163806
KTU is 1.7  ==== salary is  150255    //    172707
KTU is 1.8  ==== salary is  157998    //    181608
KTU is 1.9  ==== salary is  165742    //    190508
KTU is 2.0  ==== salary is  173486    //    199409

Как мы видим, без грантовых денег никто не получит свою обещанную ЗП, при таком колличестве людей